<main>
  <a routerLink="/medico/pazienti" class="back-link">← Torna ai Pazienti</a>

  <div class="container">

    <app-informazioni-paziente-medico [utente]="paziente"></app-informazioni-paziente-medico>

    <div class="content-grid">

       <app-visite-paziente-medico [visite]="visite" (apriVisita)="apriVisita($event)"></app-visite-paziente-medico>

      <app-prescrizioni-paziente-medico [prescrizioni]="prescrizioniPaziente"></app-prescrizioni-paziente-medico>

    </div>

    <div class = patient-graphics *ngIf="paziente">
      <app-andamento-metriche-vitali [user]="paziente"></app-andamento-metriche-vitali>
    </div>

    <div class = form-metric-adding *ngIf="paziente && medico">
      <app-aggiungi-metrica-form
        [paziente]="paziente"
        [medico]="medico"
        (metricaAggiunta)="metricaAggiunta($event)"
      ></app-aggiungi-metrica-form>
    </div>
  </div>
</main>
