.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.main-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}

.charts-section {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {

  .main-grid {
    grid-template-columns: 1fr;
  }

  .container {
    padding: 1rem;
  }
}

.highlight-glow ::ng-deep > div:first-child {
  animation: glow-animation 2s ease-in-out;
  border-radius: 8px;
}

@keyframes glow-animation {
  0% {
    box-shadow: 0 0 0 rgba(63, 81, 181, 0);
    transform: scale(1);
  }
  50% {
    box-shadow: 0 0 20px rgba(63, 81, 181, 0.6);
    transform: scale(1.02); /* Leggero ingrandimento */
    border: 1px solid #3f51b5;
  }
  100% {
    box-shadow: 0 0 0 rgba(63, 81, 181, 0);
    transform: scale(1);
  }
}


