<div class="container">
  <div class="title-section">
    <h1 class="title">Cartella Clinica</h1>
  </div>

  <div class="tabs-nav">
    <button [class.active]="activeTab === 'visite'" (click)="setTab('visite')">
      <i class="bi bi-clock-history"></i> Storia Visite
    </button>
    <button [class.active]="activeTab === 'prescrizioni'" (click)="setTab('prescrizioni')">
      <i class="bi bi-capsule"></i> Farmaci
    </button>
    <button [class.active]="activeTab === 'metriche'" (click)="setTab('metriche')">
      <i class="bi bi-graph-up"></i> Metriche
    </button>
  </div>

  <div class="tab-content">

    <app-tab-storia-visite *ngIf="activeTab === 'visite'"></app-tab-storia-visite>

    <app-tab-prescrizioni *ngIf="activeTab === 'prescrizioni'"></app-tab-prescrizioni>

    <app-tab-metriche *ngIf="activeTab === 'metriche'"></app-tab-metriche>

  </div>
</div>
