<div class="container">
  <div class="title-section">
    <h1 class="title">Medici</h1>
  </div>

  <div class="tabs-nav">
    <button [class.active]="activeTab === 'trova'" (click)="setTab('trova')">🔍 Trova Medico</button>
    <button [class.active]="activeTab === 'miei'" (click)="setTab('miei')">⚕️️ I miei Medici</button>
  </div>

  <div class="tab-content">

    <app-trova-medico *ngIf="activeTab === 'trova'"></app-trova-medico>

    <app-miei-medici *ngIf="activeTab === 'miei'"></app-miei-medici>


  </div>
</div>
