<div class="specifiche-container">

  <div class="map-section">
    <div class="map-wrapper">
      <div #visualizzaMappa class="google-map"></div>
    </div>
  </div>

  <div class="se">

    <div class="info-card">
      <h3 class="info-title">
        <span class="info-icon"><i class="bi bi-person-vcard"></i></span>
        Dettagli Medico
      </h3>
      <div class="detail-item">
        <span class="label">Numero Albo:</span>
        <span class="value fw-bold">{{ medico?.numero_albo ? medico?.numero_albo : 'N/D' }}</span>
      </div>
      <div class="detail-item">
        <span class="label">Specializzazione:</span>
        <span class="badge status-badge status-ok">
            {{ nomeSpecializzazione }}
          </span>
      </div>
      <div class="detail-block">
        <span class="label display-block mb-2"><i class="bi bi-geo-alt-fill"></i> Indirizzo Studio:</span>
        <p class="value address-box">
          {{ medico?.indirizzo_studio}}
        </p>
      </div>
      <div class="detail-block mt-4">
        <span class="label display-block mb-2"><i class="bi bi-file-text"></i> Biografia:</span>
        <p class="value bio-box">
          {{ medico?.biografia ? medico?.biografia : 'Nessuna biografia.' }}
        </p>
      </div>

    </div>

  </div>

</div>
